{% extends "base.html" %}
{% block content %}
<div class="container page-form">
    <form id="register-form" action="/users/register" method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input required type="text" id="email" name="email" class="form-control">
        </div>
        <div class="form-group">
            <label for="hashed">Password</label>
            <input required type="password" id="hashed" name="hashed" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Sign Up</button>
    </form>
</div>
{% endblock %}