{% extends "base.html" %}
{% block content %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" href="/users/welcome/{{ user_id }}">Workout Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/users/welcome/{{ user_id }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink">
            Menu</a>
          <div class="dropdown-menu">
            <a href="/exercises/record/1rm/{{user_id}}" class="dropdown-item">ESTIMATE BIG3 Growth</a>
            <a href="/exercises/weight_suggestion/{{user_id}}" class="dropdown-item">Weight Suggestion</a>
          </div>
        </li>
         <li class="nav-item">
          <a href="/users/logout" class="nav-link">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
    <div>
        <h1>Hi {{ email }}!</h1>
        <hr>
        <div>
            <div>
                <hr>
            </div>
            <div class="card card-body mb-4">
                <h3>Start Workout</h3>
                {% if split_list|length > 0 %}
                    {% for split in split_list %}
                    <div class="card card-body mb-2">
                        <a class="btn btn-success mb-1" href="/exercises/{{split}}/{{ user_id }}">{{split}}</a>
                        <a class="btn btn-dark mb-1" href="/exercises/delete/confirmation/{{split}}/{{user_id}}">!DELETE!</a>
                    </div>

                {% endfor %}

            {% else %}
                <h4>There is no routine yet!</h4>
            {% endif %}
                <a class="mt-2" href="/exercises/new/routine/{{user_id}}"><button class="btn btn-primary">Add New Routine</button></a>
            </div>
        </div>
        <div class="mb-4">
            <a class="mt-2" href="/exercises/update/1rm/{{user_id}}"><button class="btn btn-primary">Update 1RM</button></a>
        </div>
</div>
{% endblock %}